.chair {
    width: 15px;
    height: 15px;
}

.arm-left {
    width: 2px;
    height: 15px;
    background: red;
    position: absolute;
    margin-top: -24px;
    margin-left: -1px;
}
.arm-right {
    width: 2px;
    height: 15px;
    background: red;
    position: absolute;
    margin-top: -24px;
    margin-left: 14px;
}
.back {
    width: 15px;
    height: 3px;
    background: red;
    position: absolute;
    margin-top: -8px;
    margin-left: 0px;
    border-radius: 3px;
}

.cross {
    width: 15px;
    height: 3px;
    background: red;
    position: absolute;
    margin-top: -15px;
    margin-left: 0px;
    border-radius: 3px;
    transform: rotate(45deg);
}
.cross2 {
    width: 15px;
    height: 3px;
    background: red;
    position: absolute;
    margin-top: -15px;
    margin-left: 0px;
    border-radius: 3px;
    transform: rotate(-45deg);
}